In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [22]:
folder_path = 'Stocks'  

csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
dfs = []
for csv_file in csv_files:
    df = pd.read_csv(os.path.join(folder_path, csv_file))
    df['ticker_symbol'] = csv_file.rsplit('.', 1)[0]
    dfs.append(df)

df = pd.concat(dfs, ignore_index=True)
final_df=df[['Date','ticker_symbol','Open','High','Low','Close','Adj Close','Volume']]
print(df)

            Date       Open       High        Low      Close  Adj Close  \
0     2015-01-02  27.847500  27.860001  26.837500  27.332500  24.498682
1     2015-01-05  27.072500  27.162500  26.352501  26.562500  23.808516
2     2015-01-06  26.635000  26.857500  26.157499  26.565001  23.810760
3     2015-01-07  26.799999  27.049999  26.674999  26.937500  24.144634
4     2015-01-08  27.307501  28.037500  27.174999  27.972500  25.072321
...          ...        ...        ...        ...        ...        ...
7543  2019-12-24  89.690498  89.778503  89.378998  89.460503  89.460503
7544  2019-12-26  90.050499  93.523003  89.974998  93.438499  93.438499
7545  2019-12-27  94.146004  95.070000  93.300499  93.489998  93.489998
7546  2019-12-30  93.699997  94.199997  92.030998  92.344498  92.344498
7547  2019-12-31  92.099998  92.663002  91.611504  92.391998  92.391998

         Volume ticker_symbol
0     212818400          AAPL
1     257142000          AAPL
2     263188400          AAPL
3     160423600          AAPL
4     237458000          AAPL
...         ...           ...
7543   17626000          AMZN
7544  120108000          AMZN
7545  123732000          AMZN
7546   73494000          AMZN
7547   50130000          AMZN

[7548 rows x 8 columns]

In [23]:
counts = final_df['ticker_symbol'].value_counts()
print(counts)

ticker_symbol
AAPL     1258
TSLA     1258
GOOG     1258
MSFT     1258
GOOGL    1258
AMZN     1258
Name: count, dtype: int64

In [24]:
df=final_df[['Date','ticker_symbol','Open','High','Low']]
df.head()

         Date ticker_symbol       Open       High        Low
0  2015-01-02          AAPL  27.847500  27.860001  26.837500
1  2015-01-05          AAPL  27.072500  27.162500  26.352501
2  2015-01-06          AAPL  26.635000  26.857500  26.157499
3  2015-01-07          AAPL  26.799999  27.049999  26.674999
4  2015-01-08          AAPL  27.307501  28.037500  27.174999

In [25]:
df.to_csv("Data/StocksJoined.csv", index=False)