In [2]:
import pandas as pd
import numpy as np

# Price Ranges

In [4]:
df_price_range = pd.DataFrame(columns=['AAPL', 'AMZN', 'GOOG', 'GOOGL', 'MSFT', 'TSLA'])
df_price_range['AAPL'] = ['20.83-70.58',abs(20.83-70.58)]
df_price_range['AMZN'] = ['14.31-101.63',abs(14.31-101.63)]
df_price_range['GOOG'] = ['24.80-68.75', abs(24.80-68.75)]
df_price_range['GOOGL'] = ['24.85-68.03',abs(24.85-68.03)]
df_price_range['MSFT'] = ['35.06-153.15',abs(35.06-153.15)]
df_price_range['TSLA'] = ['9.86-28.72', abs(9.86-28.72)]
df_price_range

,AAPL,AMZN,GOOG,GOOGL,MSFT,TSLA
0,20.83-70.58,14.31-101.63,24.80-68.75,24.85-68.03,35.06-153.15,9.86-28.72
1,49.75,87.32,43.95,43.18,118.09,18.86

# LSTM Metrics

In [15]:
df_lstm = pd.read_csv('lstm_metrics.csv')
cols=df_lstm.columns.tolist()
lstm_avrg_col=[]
for row_index in range(len(df_lstm['Metrics'])):
    data=[]
    for ticker in cols[1:]:
        data.append(df_lstm[ticker][row_index])
    data=np.array(data)
    lstm_avrg_col.append(np.mean(data))
df_lstm['Average']=lstm_avrg_col
df_lstm

,Metrics,AAPL,AMZN,GOOG,GOOGL,MSFT,TSLA,Average
0,testing-MAE,2.806754,4.997349,2.666493,2.574727,7.443089,1.502783,3.665199
1,validation-MAE,1.694451,2.660656,1.865335,1.152790,3.468803,1.126133,1.994695
2,testing-SMAPE,7.730215,9.262086,6.250451,6.242782,10.038104,8.253348,7.962831
3,validation-SMAPE,4.584322,4.799467,4.161081,2.681039,5.515554,6.172341,4.652301
4,testing-Forecast Bias,2.228510,6.878157,3.316258,4.694448,10.672567,-2.882021,4.151320
5,validation-Forecast Bias,1.970421,2.779653,0.947670,0.456143,3.547122,-0.774567,1.487740

# Bidirectional LSTM Metrics

In [5]:
df_bilstm = pd.read_csv('bilstm_metrics1.csv')
cols=df_bilstm.columns.tolist()
bilstm_avrg_col=[]
for row_index in range(len(df_bilstm['Metrics'])):
    data=[]
    for ticker in cols[1:]:
        data.append(df_bilstm[ticker][row_index])
    data=np.array(data)
    bilstm_avrg_col.append(np.mean(data))
df_bilstm['Average']=bilstm_avrg_col
df_bilstm

,Metrics,AAPL,AMZN,GOOG,GOOGL,MSFT,TSLA,Average
0,testing-MAE,2.751681,4.593577,2.258848,2.680057,6.792716,1.166747,3.373938
1,validation-MAE,1.663016,2.442196,1.293267,1.474101,3.032931,1.012959,1.819745
2,testing-SMAPE,8.061506,9.559698,5.284379,6.342372,7.590373,6.577004,7.235889
3,validation-SMAPE,4.669203,4.876079,3.079433,3.310767,4.155473,5.729296,4.303375
4,testing-Forecast Bias,3.355579,9.950776,2.782057,4.503812,6.551178,0.125195,4.544766
5,validation-Forecast Bias,1.791835,4.185115,0.404388,1.527840,2.275204,1.055135,1.873253

# GRU metrics

In [9]:
df_gru = pd.read_csv('gru_metrics.csv')
cols=df_gru.columns.tolist()
gru_avrg_col=[]
for row_index in range(len(df_gru['Metrics'])):
    data=[]
    for ticker in cols[1:]:
        data.append(df_gru[ticker][row_index])
    data=np.array(data)
    avrg_col.append(np.mean(data))
df_gru['Average']=avrg_col
df_gru

,Metrics,AAPL,AMZN,GOOG,GOOGL,MSFT,TSLA,Average
0,testing-MAE,4.148531,5.498699,3.390594,5.529787,10.770508,1.745092,5.180535
1,validation-MAE,2.229650,2.902829,2.125341,3.292676,5.225987,1.252592,2.838179
2,testing-SMAPE,11.573880,10.821580,7.374191,13.406355,14.172499,9.639882,11.164731
3,validation-SMAPE,6.353070,5.347169,4.798791,7.709574,8.448458,7.041684,6.616458
4,testing-Forecast Bias,6.576443,10.382538,5.267319,7.265570,9.736641,4.342415,7.261821
5,validation-Forecast Bias,3.599421,1.568007,1.193327,2.206384,3.260730,2.951351,2.463203

# Bidirection GRU metrics

In [13]:
df_bigru = pd.read_csv('bigru_metrics.csv')
cols=df_bigru.columns.tolist()
bigru_avrg_col=[]
for row_index in range(len(df_bigru['Metrics'])):
    data=[]
    for ticker in cols[1:]:
        data.append(df_bigru[ticker][row_index])
    data=np.array(data)
    bigru_avrg_col.append(np.mean(data))
df_bigru['Average']=bigru_avrg_col
df_bigru

,Metrics,AAPL,AMZN,GOOG,GOOGL,MSFT,TSLA,Average
0,testing-MAE,4.386426,7.700521,2.828022,3.462318,9.274961,1.231965,4.814036
1,validation-MAE,1.823990,3.289037,1.605600,1.546959,3.843634,0.981699,2.181820
2,testing-SMAPE,12.224097,14.286809,6.458654,8.694206,10.701282,7.270851,9.939316
3,validation-SMAPE,5.113448,6.273114,3.725753,3.538226,5.292191,5.500101,4.907139
4,testing-Forecast Bias,8.495465,15.847714,3.889011,8.889392,10.118499,2.464043,8.284021
5,validation-Forecast Bias,3.517399,4.313465,0.472627,2.625847,2.603845,1.854339,2.564587

# TCN metrics

In [17]:
df_tcn = pd.read_csv('tcn_metrics.csv')
cols=df_tcn.columns.tolist()
tcn_avrg_col=[]
for row_index in range(len(df_tcn['Metrics'])):
    data=[]
    for ticker in cols[1:]:
        data.append(df_tcn[ticker][row_index])
    data=np.array(data)
    tcn_avrg_col.append(np.mean(data))
df_tcn['Average']=tcn_avrg_col
df_tcn

,Metrics,AAPL,AMZN,GOOG,GOOGL,MSFT,TSLA,Average
0,testing-MAE,7.830615,12.783191,5.813861,5.727586,14.867677,2.150148,8.195513
1,validation-MAE,3.877806,11.187364,3.733343,4.207401,8.904951,2.183565,5.682405
2,testing-SMAPE,22.349237,22.149678,16.622313,13.497536,21.573379,12.607807,18.133325
3,validation-SMAPE,11.592121,23.730498,9.412761,10.043096,13.858657,12.490883,13.521336
4,testing-Forecast Bias,16.778518,11.544841,18.475142,11.585969,21.249991,0.633583,13.378007
5,validation-Forecast Bias,5.363121,8.380340,6.983620,8.640641,11.942666,5.595674,7.817677

# Bidirectional TCN metrics

In [16]:
df_bitcn = pd.read_csv('bitcn_metrics.csv')
cols=df_bitcn.columns.tolist()
bitcn_avrg_col=[]
for row_index in range(len(df_bitcn['Metrics'])):
    data=[]
    for ticker in cols[1:]:
        data.append(df_bitcn[ticker][row_index])
    data=np.array(data)
    bitcn_avrg_col.append(np.mean(data))
df_bitcn['Average']=bitcn_avrg_col
df_bitcn

,Metrics,AAPL,AMZN,GOOG,GOOGL,MSFT,TSLA,Average
0,testing-MAE,6.728708,9.876389,3.768022,3.750117,10.625347,2.541490,6.215012
1,validation-MAE,4.051853,6.606013,3.169778,2.706442,8.033907,2.046938,4.435822
2,testing-SMAPE,16.653404,23.730706,9.459954,8.699568,12.739043,14.591519,14.312366
3,validation-SMAPE,10.932413,15.306268,7.438474,6.203061,10.792124,11.826526,10.416478
4,testing-Forecast Bias,1.820447,26.693177,7.785156,6.128846,6.261107,6.318854,9.167931
5,validation-Forecast Bias,2.142772,15.985937,6.901243,4.266269,6.077156,7.613889,7.164544

## Microsoft-tuned Bidirectional LSTM Metrics

In [3]:
df_mbilstm = pd.read_csv('mbilstm_metrics.csv')
cols=df_mbilstm.columns.tolist()
mbilstm_avrg_col=[]
for row_index in range(len(df_mbilstm['Metrics'])):
    data=[]
    for ticker in cols[1:]:
        data.append(df_mbilstm[ticker][row_index])
    data=np.array(data)
    mbilstm_avrg_col.append(np.mean(data))
df_mbilstm['Average']=mbilstm_avrg_col
df_mbilstm

,Metrics,AAPL,AMZN,GOOG,GOOGL,MSFT,TSLA,Average
0,testing-MAE,3.004301,6.886106,2.814184,3.436656,5.827965,1.762150,3.955227
1,validation-MAE,1.601485,3.747439,1.625772,1.755912,3.089976,1.297248,2.186305
2,testing-SMAPE,8.268980,15.028195,6.323528,8.053224,7.493393,9.578706,9.124338
3,validation-SMAPE,4.522252,8.279746,3.531412,4.028962,4.544910,7.181148,5.348071
4,testing-Forecast Bias,2.470896,15.122153,3.285025,5.952010,6.123374,-1.823097,5.188394
5,validation-Forecast Bias,1.885484,6.539986,-0.343645,1.524677,2.288049,0.258874,2.025571